@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');




body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  background: linear-gradient(135deg, #ffeef8 0%, #ffd6f5 25%, #f0d9ff 50%, #ffe6f2 75%, #ffeef8 100%);
  background-size: 400% 400%;
  animation: romanticGradient 15s ease infinite;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(circle at 20% 30%, rgba(255, 182, 193, 0.3) 2px, transparent 2px),
    radial-gradient(circle at 80% 70%, rgba(255, 192, 203, 0.25) 1.5px, transparent 1.5px),
    radial-gradient(circle at 50% 50%, rgba(221, 160, 221, 0.2) 1px, transparent 1px),
    radial-gradient(circle at 90% 20%, rgba(255, 182, 193, 0.3) 2px, transparent 2px),
    radial-gradient(circle at 10% 80%, rgba(255, 192, 203, 0.25) 1.5px, transparent 1.5px);
  background-size: 
    200px 200px,
    300px 300px,
    250px 250px,
    180px 180px,
    220px 220px;
  background-position: 
    0 0,
    100px 150px,
    200px 300px,
    400px 100px,
    600px 400px;
  animation: sparkle 20s linear infinite;
  pointer-events: none;
  z-index: 0;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffb6c1' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dda0dd' fill-opacity='0.15'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v22H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 150px 150px, 100px 100px;
  background-position: 0 0, 50px 50px;
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
  animation: patternMove 30s linear infinite;
}

@keyframes patternMove {
  0% {
    background-position: 0 0, 50px 50px;
  }
  100% {
    background-position: 150px 150px, 150px 150px;
  }
}

@keyframes sparkle {
  0%, 100% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-20px);
  }
}

@keyframes romanticGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-decorations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.heart-emoji,
.sparkle-emoji {
  position: absolute;
  font-size: 30px;
  opacity: 0.4;
  animation: float 15s infinite ease-in-out;
  user-select: none;
}

.background-decorations span:nth-child(1) {
  left: 10%;
  top: 20%;
  animation-delay: 0s;
  animation-duration: 12s;
}

.background-decorations span:nth-child(2) {
  left: 60%;
  top: 25%;
  animation-delay: 0.3s;
  animation-duration: 10s;
}

.background-decorations span:nth-child(3) {
  left: 85%;
  top: 15%;
  animation-delay: 1s;
  animation-duration: 14s;
}

.background-decorations span:nth-child(4) {
  left: 30%;
  top: 30%;
  animation-delay: 1.8s;
  animation-duration: 12s;
}

.background-decorations span:nth-child(5) {
  left: 15%;
  top: 70%;
  animation-delay: 2s;
  animation-duration: 13s;
}

.background-decorations span:nth-child(6) {
  left: 75%;
  top: 40%;
  animation-delay: 0.7s;
  animation-duration: 11s;
}

.background-decorations span:nth-child(7) {
  left: 50%;
  top: 10%;
  animation-delay: 1.5s;
  animation-duration: 11s;
}

.background-decorations span:nth-child(8) {
  left: 40%;
  top: 75%;
  animation-delay: 1.5s;
  animation-duration: 13s;
}

.background-decorations span:nth-child(9) {
  left: 90%;
  top: 65%;
  animation-delay: 0.5s;
  animation-duration: 16s;
}

.background-decorations span:nth-child(10) {
  left: 95%;
  top: 30%;
  animation-delay: 2.2s;
  animation-duration: 9s;
}

.background-decorations span:nth-child(11) {
  left: 70%;
  top: 50%;
  animation-delay: 2.5s;
  animation-duration: 15s;
}

.background-decorations span:nth-child(12) {
  left: 55%;
  top: 60%;
  animation-delay: 0.5s;
  animation-duration: 14s;
}

.background-decorations span:nth-child(13) {
  left: 25%;
  top: 45%;
  animation-delay: 0.8s;
  animation-duration: 13s;
}

.background-decorations span:nth-child(14) {
  left: 20%;
  top: 85%;
  animation-delay: 1.7s;
  animation-duration: 11s;
}

.background-decorations span:nth-child(15) {
  left: 80%;
  top: 80%;
  animation-delay: 2s;
  animation-duration: 14s;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.3;
  }
  25% {
    transform: translate(20px, -30px) rotate(5deg);
    opacity: 0.5;
  }
  50% {
    transform: translate(-15px, -50px) rotate(-5deg);
    opacity: 0.4;
  }
  75% {
    transform: translate(25px, -20px) rotate(3deg);
    opacity: 0.5;
  }
}

.paper {
  background-image: url("https://i0.wp.com/textures.world/wp-content/uploads/2018/10/2-Millimeter-Paper-Background-copy.jpg?ssl=1");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
  z-index: 1;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

.paper.heart::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  
  /*filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));*/
}